<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.0.0" targetFramework="net46" />
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net46" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net46" />
  <package id="CefSharp.Common" version="75.1.142" targetFramework="net46" />
  <package id="CefSharp.Wpf" version="86.0.241" targetFramework="net46" />
  <package id="ControlzEx" version="4.1.0" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net46" />
  <package id="FlickrNet" version="3.15.0" targetFramework="net46" />
  <package id="MahApps.Metro" version="2.0.0-alpha0490" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net46" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net46" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net46" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net46" />
  <package id="PCLCrypto" version="1.0.0.15071" targetFramework="net46" />
  <package id="Validation" version="2.0.6.15003" targetFramework="net46" />
</packages>