.tileRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
    border-width: 0px;
}

/* Create four equal columns that sits next to each other */
.tileColumn {
    background-color: $Background$;
    flex: 23%;
    max-width: 25%;
    padding: 0 $BorderWidth$px;
}

    .tileColumn img {
        background-color: $BorderColor$;
        margin-top: 0px;
        vertical-align: middle;
        width: 100%;
        padding: $BorderWidth$px;
    }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .tileColumn {
        flex: 45%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .tileColumn {
        flex: 100%;
        max-width: 100%;
    }
}



.tileZoom {
    transition: transform .$AnimationTransform$s; /* Animation */
}

    .tileZoom:hover {
        transform: scale($ZoomHover$); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }


/* Container holding the image and the text */
.tileContainer {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: left;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    text-align: left;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    text-align: right;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-align: right;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.normalFont {
    font-size: $TitleFontSize$px;
    font-family: "$FontFamily$";
    font-weight: $FontWeightTitle$;
}

.miniFont {
    font-size: $DescriptionFontsize$px;
    font-family: "$FontFamily$";
    font-weight: $FontWeightDescription$;
}
